$blackColor: #020304;

*{
  box-sizing: border-box;
  font-family: open sans;
}

body{
  main{
    div{
      &.reviewdiv{
        div.facebook{
          p{

          }
          div.stars{
            img{
              max-width: 10%;
            }
          }
        }
        h5{
          font-weight: lighter;
        }
        div.reviews{

          div.review{
            p{
              margin-bottom: 0;
            }
            h4{
              color: white;
              font-weight: bolder;
              margin-top: 0;
            }
          }
        }
        max-width: 80%;
        text-align: center;
        margin: 0 auto;
        display: block;
        h5{
          color: white;
          font-size: 1.5em;
          margin-bottom: 0;
        }
      }
      &.norreport{
        max-width: 80%;
        text-align: center;
        margin: 0 auto;
        display: block;
        h5{
          color: white;
          font-size: 1.5em;
          margin-bottom: 0;
          font-weight: lighter;
        }
        p{

        }
      }
      &.ydelsesikoner{
        display: block;
        margin: 0 auto;
        figure{
          max-width: 80%;
          margin: 0 auto;
          text-align: center;
          margin-bottom: 2em;
          img{
            max-width: 60%;
          }
          h6{
            color: #FFBC37;
            font-size: 2em;
            margin-top: 0;
            margin-bottom: 0;
            font-weight: lighter;
          }
          figcaption{
            color: white;
          }
        }
      }
    }
  }
}

body {
  div{
    &.desktopindexbillede{
      display: none;
    }
    &.mobilindexbillede{
      img{
        max-width: 100%;
      }
      p{
        text-align: center;
        width: 100%;
        position: absolute;
        font-size: 2.2em;
        color: white;
        top: 28.7%;
        display: block;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(0, 0, 0, 0.5);
      }
    }
  }
  video{
    display: none;
    &#myvideo{
      width: 100%;
      margin-top: 5vh;
      source{
        max-width: 100%;
      }
    }
  }
  margin: 0;
  footer{

    padding-top: 5vh;
    background-color: #292929;

    div{

      max-width: 90%;
      display: block;
      margin: 0 auto;
      form{

        margin-top: 0em;
        padding-bottom: 1em;
        max-width: 100%;
        div{
          &.mail{
            margin: 0 0 0 1em;
          }
          button{
            background-color: #B7B7B7;
            border-radius: 10px;
            padding: 0.5em;
          }
          a{
            text-decoration: none;
            h3{
              margin-bottom: 0.1em;
              margin-top: 0;
              font-family: open sans;
              color: white;
              font-size: 1em;
            }
          }
          input[type=text] {
              width: 70%;
              padding: 12px 20px;
              display: inline-block;
              border: 1px solid #ccc;
              box-sizing: border-box;
              border-radius: 10px;
              padding: 0.5em;
          }
        }
      }
      &.someikoner{
        text-align: center;
        padding-bottom: 1em;
        a{
          font-size: 2em;
          margin-left: 0.5em;
          margin-right: 0.5em;
          color: white;
        }
      }
      div{
        padding-bottom: 1em;
        a{
          text-decoration: none;
          color: white;
          display: inline;

        }
      }
    }
  }
  input#burger{
    opacity: 0;
  }
  main{
    max-width: 90%;
    margin: 0 auto;
    display: block;
    p{
      color: white;
    }
  }
  nav{
    a{
      &.navn{
        text-decoration: none;
        color: white;
        font-family: Playfair Display;
        padding-left: 2%;
        padding-top: 3%;
        clear: both;
        float: left;
        font-size: 6.8vw;
      }
    }
    &.desktop{
      display: none;

    }
  }
  background: black;
  h1 {
    /*position: fixed;
    top: 40px;
    left: 40px;
    z-index: 6;
    font-size: 20px;
    font-weight: 900;
    font-family: sans-serif;
    text-transform: uppercase;*/
    > span {
      text-transform: none;
      opacity: .5;
      font-weight: 300;
      font-size: 50px;
    }
  }
    input + label {
      position: fixed;
      top: 1%;
      right: 5%;
      height: 65px;
      width: 9%;
      z-index: 5;
      z-index: 1000000;
      span {
        position: absolute;
        width: 100%;
        height: 3%;
        top: 33%;
        margin-top: -1px;
        left: 0;
        display: block;
        background: white;
        transition: .5s;
      }
      span:first-child {
        top: 20%;
      }
      span:last-child {
        top: 47%;
      }
    }
    label:hover {
      cursor: pointer;
    }
    input:checked + label {
      span {
        opacity: 0;
        top: 50%;
      }
      span:first-child {
        opacity: 1;
        transform: rotate(225deg);
      }
      span:last-child {
        opacity: 1;
        transform: rotate(-225deg);
      }
    }
    input ~ nav.mobil {
      background: black;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 8.5vh;
      transition: .5s;
      transition-delay: .5s;
      z-index: 100000;
      > ul {
        position: absolute;
        top: 23%;
        left: 7%;
        right: 20%;
        list-style: none;
        display: none;
        > li {
          opacity: 0;
          transition: .5s;
          transition-delay: 0s;
          > a {
            font-family: Open Sans;
            text-decoration: none;
            text-transform: uppercase;
            color: white;
            font-weight: 700;
            display: block;
            padding: 6%;
            font-size: 1.5em;
            &.current{
              color: #FFBC37;

            }
          }
        }
      }
    }
    input:checked ~ nav {
      height: 100%;
      transition-delay: 0s;
      > ul {
        display: block;
        > li {
          opacity: 1;
          transition-delay: .5s;
          a{

          }
        }
      }
    }
}

@media screen and (min-width: 700px){
  *{
    z-index: 0;
  }
body{
  div{
    &.mobilindexbillede{
      display: none;
    }
    &.desktopindexbillede{
      display: block;
      p{
        text-align: center;
        width: 100%;
        position: absolute;
        font-size: 3em;
        color: white;
        top: 72%;
        display: block;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(0, 0, 0, 0.5);
      }
      img{
        max-width: 100%;
      }
    }
  }
  video{
    display: block;
  }
  video#myvideo{
    max-width: 100%;
    margin: 0 auto;
    display: block;
    source{

    }
  }
  main{
    max-width: 85%;
    display: block;
    margin: 0 auto;

  }
  margin: 0;
  input{
    display: none;
  }
  label{
    display: none;
  }
  nav{
    &.mobil{
      display: none;
    }
    &.desktop{
      display: block;
      background-color: black;
      height: 3em;
      width: 100%;
      position: fixed;
      z-index: 100000000;
      a{
        &.navn{
          text-decoration: none;
          color: white;
          font-family: Playfair Display;
          padding-left: 2%;
          padding-top: 0.5%;
          clear: both;
          float: left;
          font-size: 1.8em;
        }
      }
      ul{
        padding: 0;
        width: 65%;
        float: right;
        margin-bottom: 0;
        li{
          float: right;
          padding-left: 0.8em;
          padding-right: 0.8em;
          display: inline-block;
          border-left: 1px solid #FFBC37;
          &.undtagelsen{
            border: none;
            padding-left: 0;
          }
          a{
            text-decoration: none;
            color: white;
            font-family: Open Sans;
            font-size: 1.1em;
            &.current{
              color: #FFBC37;
            }
          }
        }
      }
    }
  }
  footer{
    display: flex;
    justify-content: space-around;
    div{
      &.formdiv{
        width: 30%;
      }
      display: inline-block;
      form{
        display: inline-block;
        width: 100%;
        div{
          width: 100%;
          padding: 0;
        }
      }
      &.kontaktinfo{
        width: 50%;
        padding-top: 1em;
        display: flex;
        justify-content: space-around;
        border-left: 1px solid white;
        border-right: 1px solid white;
        padding-bottom: 0.1em;
        height: 3em;
        margin-top: 0.5em;
      }
      &.someikoner{
        margin-top: 0.8em;
      }
      display: inline-block;
      div{

      }
    }
  }
}

body{
  main{
    div.ydelsesikoner{
      display: flex;
      justify-content: space-between;
      margin-top: 6em;
      figure{
        max-width: 20%;
        img{

        }
        h6{

        }
        figcaption{

        }
      }
    }
    div.norreport{
      margin-top: 5em;
      h5{

      }
      p{

      }
    }
    div.reviewdiv{
      margin-top: 6em;
      margin-bottom: 4em;
      h5{

      }
      div.reviews{
        display: flex;
        justify-content: space-between;
        div.review{
          max-width: 45%;
          p{

          }
          h4{

          }
        }
      }
      div.facebook{
        p{

        }
        div.stars{
          img{
            max-width: 5%;
          }
        }
      }
    }
  }
}

}
